# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\uni work\Programu sistemu projektavimas\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
